# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs, reports, and artifacts
*.log
*.html
*.xml
reports/
screenshots/

# Ignore IDE/editor settings
.vscode/
.idea/
